/*
* Style Works for Editor Only
*/

.esab_input__controls .components-input-control__label {
	font-size: 9px !important;
}

.wp-block-esab-accordion {
	display: block;
	.block-editor-block-list__layout {
		display: block;
		flex-direction: column;
		justify-content: space-between;
		.block-list-appender {
			position: relative !important;
			width: 36px !important;
		}
		button.components-button.block-editor-button-block-appender {
			height: 36px !important;
			border-radius: 50%;
			color: #3fa796;
			border: 2px solid #3fa796 !important;
			box-shadow: none !important;
			padding: 0 !important;
		}
	}
	.esab__body {
		display: block;
		.block-list-appender {
			position: absolute !important;
			width: auto !important;
		}
	}

	.esab__icon {
		.esab__expand {
			display: block;
		}
		.esab__collapse {
			display: none;
		}
	}
}
