/*
* Style Works for both Editor and Frontend
*/

.wp-block-esab-accordion {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.wp-block-esab-accordion-child {
		&.bs__one {
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
		&.bs__two {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		}
		&.bs__three {
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
	}
	.esab__head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.esab__head_reverse {
			flex-direction: row-reverse;
			.esab__heading_txt {
				margin-left: 0.5em;
				margin-right: 0;
			}
		}

		.esab__heading_txt {
			width: 100%;
			margin-right: 0.5em;
			margin-left: 0;
		}
	}

	.esab__heading_tag {
		margin: 0 !important;
		padding: 0 !important;
	}

	.esab__head {
		cursor: pointer;
	}

	.esab__icon {
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 40px;
		position: relative;
		cursor: pointer;
	}

	.esab__icon {
		.esab__collapse,
		.esab__expand {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.esab__expand {
			display: none;
		}
		&.esab__active_icon {
			.esab__collapse {
				display: none;
			}
			.esab__expand {
				display: block;
			}
		}
	}

	.esab__body {
		display: none;
		&.esab__active {
			display: block;
		}
	}
}
